.login {
  &__logo-scora {
    width: 184px;
    height: 48px;
    background-size: 184px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 48px;
    @media (max-width: 574px) {
      width: 152px;
      height: 40px;
      margin-top: 60px;
      margin-bottom: 40px;
      background-size: 152px;
    }
  }
  @media (max-width: 574px) {
    & .input-fields__title {
      padding: 24px 0 0 0 !important;
      font: $text-p2;
      font-weight: 600;
    }
  }
  & button {
    @media (max-width: 574px) {
      font: $text-p2;
      font-weight: 600;
    }
  }
  @import "./parts/form-box/form-box.scss";
}

.error-state {
  width: 480px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */
  background: #ffe6e2;
  text-align: center;

  color: #e11f1f;
  padding: 10px 20px;
  @media (max-width: 574px) {
    width: 343px;
    padding: 10px 10px;
  }
}

.success-state {
  @extend .error-state;
  background: #edf4f4;
  color: #005f61;
}
